@@if(context.main) {
<footer class="section fp-auto-height main-type">
    <div class="foot-top">
        <a href="/page/sub_06_01.html" class="btn btn-lg btn-border-white no-round">제품구매문의</a>
    </div>
    <div class="foot-middle">
        <span class="ci"><img src="/images/img/img-ci.jpg" alt="한국전쟁 참전국 기념사업회 ci"></span>
        <p>아비시니카는 (사)한국전쟁참전국기념사업회에 후원합니다.</p>
    </div>
}
@@if(!context.main){
<footer>
}
    <div class="foot-bottom">
        <p class="foot-logo"><img src="/images/logo-wt.png" alt="아비시니카"></p>
        <div class="infos">
            <div class="col">
                <dl>
                    <dt>Head Office</dt>
                    <dd>
                        <ul>
                            <li>
                                <span>(주)아비시니카</span>
                                <span>대표이사 : 이대원</span>
                            </li>
                            <li><span>주소 : 서울특별시 금천구 가산디지털1로 186 제이플라츠 409호</span></li>
                            <li>
                                <span>고객센터 : 02-555-9331</span>
                                <span>팩스 : 02-555-9332</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
            </div>
            <div class="col">
                <dl>
                    <dt>Factory</dt>
                    <dd>
                        <ul>
                            <li><span>아비시니카 코리아</span></li>
                            <li><span>주소 : 강원도 춘천시 동내면 금촌로 84-15</span></li>
                            <li>
                                <span>Tel : 033-263-5625</span>
                                <span>팩스 : 033-255-6250</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>
        <p class="copyright">COPYRIGHT@ABISSINICA.LTD ALL RIGHT RESERVED.</p>
    </div>
</footer>