@@if(context.main) {
<footer class="section fp-auto-height main-type">
    <div class="foot-top">
        <a href="/page/sub_07_02.html" class="btn btn-lg btn-border-white no-round">COFFEE STORY 문의</a>
    </div>
    <div class="foot-middle">
        <ul class="supports">
            <li>
                <span class="ci"><img src="/images/img/img-ci.jpg" alt="UNPK 한국전쟁 참전국 기념사업회"></span>
                <a href="" class="btn btn-border-gray rounded"><span>후원하기</span></a>
            </li>
            <li>
                <span class="ci"><img src="/images/img/img-ci2.jpg" alt="이디오피아 한국전 참전용사 후원회"></span>
                <a href="" class="btn btn-border-gray rounded"><span>후원하기</span></a>
            </li>
        </ul>
        <div class="together">
            <h3 class="tit">함께하는 기업</h3>
            <ul class="lists">
                <li><img src="/images/img/img-t1.jpg" alt="수지의료재단 수지요양병원"></li>
                <li><img src="/images/img/img-t2.jpg" alt="(사)유엔한국참전국협회"></li>
                <li><img src="/images/img/img-t3.jpg" alt="따뜻한동행"></li>
                <li><img src="/images/img/img-t4.jpg" alt="따뜻한하루"></li>
                <li><img src="/images/img/img-t5.jpg" alt="국민권익위원회"></li>
                <li><img src="/images/img/img-t6.jpg" alt="국세청"></li>
            </ul>
        </div>
    </div>
}
@@if(!context.main){
<footer>
}
    <div class="foot-bottom">
        <p class="foot-logo"><img src="/images/logo-wt.png" alt="아비시니카"></p>
        <div class="infos">
            <div class="col">
                <dl>
                    <dt>Customer Center</dt>
                    <dd>
                        <p class="call">033 - 263 - 5625</p>
                        <ul>
                            <li class="type2"><span>평일&nbsp;&nbsp;&nbsp;09:00 ~ 18:00</span><span>점심&nbsp;&nbsp;&nbsp;12:00 ~ 12:00</span></li>
                            <li><span>휴무&nbsp;&nbsp;&nbsp;토/일/공휴일은 후뮤</span></li>
                        </ul>
                    </dd>
                </dl>
            </div>
            <div class="col">
                <dl>
                    <dt>Bank Info</dt>
                    <dd>
                        <ul>
                            <li>
                                <span><em>농협은행</em>301-0625-3131-61</span>
                            </li>
                            <li>
                                <span><em>예금주</em>(주)아비시니카유니온</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
            </div>
            <div class="col">
                <dl>
                    <dt>Head Office</dt>
                    <dd>
                        <ul>
                            <li>
                                <span>(주)아비시니카유니온</span>
                                <span>대표이사 : 권정민</span>
                            </li>
                            <li><span>주소 : 강원도 춘천시 동내면 금촌로 84-15(춘천커피테마파크)</span></li>
                            <li>
                                <span>통신판매번호 : 2018-강원춘천-0211</span>
                                <span>사업자등록번호 : 584-86-00012</span>
                            </li>
                            <li>
                                <span>고객센터 : 033-263-5625</span>
                                <span>팩스 : 033-255-6250</span>
                            </li>
                            <li>
                                <span>이메일 : yahkoma@naver.com</span>
                            </li>
                        </ul>
                    </dd>
                    <dd class="bar">
                        <ul>
                            <li><span>제이콥스스테이션</span></li>
                            <li><span>주소 : 강원도 춘천시 동면 순환대로 1154-49</span></li>
                            <li><span>고객센터 : 033-257-5625</span></li>
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="dropdown">
            <button type="button" class="btn-toggle">패밀리사이트</button>
            <ul class="lists">
                <li><a href="" target="_blank">사이트1</a></li>
            </ul>
        </div>
        <p class="copyright">COPYRIGHT@ABISSINICA.LTD ALL RIGHT RESERVED.</p>
    </div>
</footer>