<header id="header">
    <div class="head-cont">
        <h1><a href="/"><span class="blind">아비시니카 메인으로 이동</span></a></h1>
        <nav id="gnb">
            <a href="/page/sub_01_01.html"@@if(context.cate01){ class="active"}>COFFEE</a>
            <a href="/page/sub_02_01.html"@@if(context.cate02){ class="active"}>COFFEE STORY</a>
            <a href="/page/sub_03_01.html"@@if(context.cate03){ class="active"}>커피공장</a>
            <a href="/page/sub_04_01.html"@@if(context.cate04){ class="active"}>제이콥스스테이션</a>
            <a href="/page/sub_05_01.html"@@if(context.cate05){ class="active"}>사업자구매</a>
            <a href="/page/sub_06_01.html"@@if(context.cate06){ class="active"}>아비시니카 소개</a>
            <a href="/page/sub_07_01.html"@@if(context.cate07){ class="active"}>고객센터</a>
        </nav>
        <nav class="my-menu">
            <a href="/page/sub_07_02.html" class="btn btn-sm btn-border-white rounded">문의</a>
            <a href="" class="btn btn-sm btn-border-white rounded">쇼핑몰</a>
        </nav>
        <button type="button" class="menu-all" aria-label="전체메뉴 보기"><span class="bar"></span></button>
    </div>
    <div class="menu-all-wrap">
        <div class="menu-container">
            <div class="col">
                <p class="dep1" aria-hidden="true">COFFEE</p>
                <button type="button" class="dep1-btn" aria-label="하위메뉴 보기">COFFEE</button>
                <ul>
                    <li><a href="/page/sub_01_01.html">SINGLE ORIGIN</a></li>
                    <li><a href="/page/sub_01_02.html">PREMIUM BLEND</a></li>
                    <li><a href="/page/sub_01_03.html">SPECIAL BLEND</a></li>
                    <li><a href="/page/sub_01_04.html">원두커피</a></li>
                    <li><a href="/page/sub_01_05.html">선물세트</a></li>
                </ul>
            </div>
            <div class="col">
                <p class="dep1" aria-hidden="true">COFFEE STORY</p>
                <button type="button" class="dep1-btn" aria-label="하위메뉴 보기">COFFEE STORY</button>
                <ul>
                    <li><a href="/page/sub_02_01.html">아비시니카 커피</a></li>
                    <li><a href="/page/sub_02_02.html">에티오피아 커피</a></li>
                    <li><a href="/page/sub_02_03.html">전쟁과 함께한 커피</a></li>
                    <li><a href="/page/sub_02_04.html">춘천커피</a></li>
                </ul>
            </div>
            <div class="col">
                <p class="dep1" aria-hidden="true">커피공장</p>
                <button type="button" class="dep1-btn" aria-label="하위메뉴 보기">커피공장</button>
                <ul>
                    <li><a href="/page/sub_03_01.html">커피공장 소개</a></li>
                    <li><a href="/page/sub_03_02.html">커피공장 갤러리</a></li>
                </ul>
            </div>
            <div class="col">
                <p class="dep1" aria-hidden="true">제이콥스스테이션</p>
                <button type="button" class="dep1-btn" aria-label="하위메뉴 보기">제이콥스스테이션</button>
                <ul>
                    <li><a href="/page/sub_04_01.html">제이콥스만 소개</a></li>
                    <li><a href="/page/sub_04_02.html">제이콥스만의 특장점</a></li>
                </ul>
            </div>
            <div class="col">
                <p class="dep1" aria-hidden="true">사업자구매</p>
                <button type="button" class="dep1-btn" aria-label="하위메뉴 보기">사업자구매</button>
                <ul>
                    <li><a href="/page/sub_05_01.html">원두</a></li>
                    <li><a href="/page/sub_05_02.html">생두</a></li>
                </ul>
            </div>
            <div class="col">
                <p class="dep1" aria-hidden="true">아비시니카 소개</p>
                <button type="button" class="dep1-btn" aria-label="하위메뉴 보기">아비시니카 소개</button>
                <ul>
                    <li><a href="/page/sub_06_01.html">회사개요</a></li>
                    <li><a href="/page/sub_06_08.html">사업내용</a></li>
                    <li><a href="/page/sub_06_02.html">인사말</a></li>
                    <li><a href="/page/sub_06_03.html">경영이념</a></li>
                    <li><a href="/page/sub_06_04.html">회사연혁</a></li>
                    <li><a href="/page/sub_06_05.html">CI/BI</a></li>
                    <li><a href="/page/sub_06_06.html">대외사업</a></li>
                    <li><a href="/page/sub_06_07.html">찾아오시는 길</a></li>
                </ul>
            </div>
            <div class="col">
                <p class="dep1" aria-hidden="true">고객센터</p>
                <button type="button" class="dep1-btn" aria-label="하위메뉴 보기">고객센터</button>
                <ul>
                    <li><a href="/page/sub_07_01.html">공지사항</a></li>
                    <li><a href="/page/sub_07_02.html">1:1문의</a></li>
                    <li><a href="/page/sub_07_03.html">자주찾는질문</a></li>
                    <li><a href="/page/sub_07_04.html">홍보자료</a></li>
                    <li><a href="/page/sub_07_05.html">갤러리</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>