/* 회사소개 */
.container.cate06 {
    // 회사개요
    .business-list {
        display:flex;
        justify-content:space-between;
        @include tablet {
            flex-wrap:wrap;
            justify-content:center;
        }
        @include mobile {
            display:block;
        }
        li {
            @include calcs(width, 240px, 1280px);
            @include tablet {
                width:32%;
                margin-left:2%;
                &:first-child {
                    margin-left:0;
                }
                &:nth-child(3) ~ li {
                    margin-top:2%;
                }
            }
            @include mobile {
                width:100%;
                margin-top:2%;
                margin-left:0;
            }
            .inner {
                position:relative;
                border:1px solid $border;
                height:100%;
                padding-top:56px;
                background:$blur;
                overflow:hidden;
                @include mobile {
                    padding-top:40px;
                }
                span.num {
                    position:absolute;
                    top:56px;
                    left:50%;
                    transform:translate(-50%, -50%);
                    width:60px;
                    height:60px;
                    border-radius:50%;
                    background:$yellow;
                    color:$white;
                    text-align:center;
                    font-size:24px;
                    font-weight:900;
                    line-height:64px;
                    z-index:10;
                    @include mobile {
                        top:40px;
                        width:40px;
                        height:40px;
                        font-size:18px;
                        line-height:42px;
                    }
                }
                p {
                    height:100%;
                    padding:50px 12px;
                    background:$white;
                    text-align:center;
                    color:$cont;
                    @include font-lg;
                    @include mobile {
                        padding:30px 12px 20px;
                    }
                }
            }
        }
    }
    .business-more {
        margin-top:20px;
        text-align:center;
        color:$gray;
        @include font;
        word-break:keep-all;
    }
    .pic-info-list {
        .complex-row {
            display:flex;
            justify-content:space-between;
            @include calcs(margin-top, 40px, 1280px);
            &:first-child {
                margin-top:0;
            }
            @include tablet {
                flex-wrap:wrap;    
            }
            .col1 {
                @include calcs(width, 468px, 1280px);
                @include tablet {
                    width:100%;
                }
                dl {
                    display:flex;
                    border-bottom:1px solid $border;
                    &:first-child {
                        border-top:1px solid $border;
                    }
                    dt {
                        width:120px;
                        padding:6px 15px;
                        background:$blur;
                        @include font;
                        text-align:center;
                    }
                    dd {
                        width:calc(100% - 120px);
                        padding:6px 15px;
                        color:$cont;
                        @include font;
                        word-break:keep-all;
                    }
                }
            }
            .col2 {
                @include calcs(width, 382px, 1280px);
                box-shadow:3px 4px 5px 0px rgba(188, 188, 188, 0.75);
                background-size:cover;
                background-repeat:no-repeat;
                background-position:center;
                @include tablet {
                    width:49%;
                    @include calcs(margin-top, 40px, 1280px);
                    padding-top:30%;
                }
            }
            .col3 {
                @include calcs(width, 872px, 1280px);
                @include calcs(padding-top, 307px, 1280px);
                background-size:cover;
                background-repeat:no-repeat;
                background-position:center;
            }
            .col4 {
                @include calcs(width, 382px, 1280px);
                box-shadow:3px 4px 5px 0px rgba(188, 188, 188, 0.75);
                background-size:cover;
                background-repeat:no-repeat;
                background-position:center;
            }
        }
    }
    .img-lists {
        display:flex;
        flex-wrap:wrap;
        li {
            width:calc((100% - 80px) / 5);
            margin-left:20px;
            @include tablet {
                width:calc((100% - 40px) / 5);
                margin-left:10px;
            }
            &:nth-child(5n + 1) {
                margin-left:0;
            }
            &:nth-child(5) ~ li {
                margin-top:20px;
                @include tablet {
                    margin-top:10px;
                }
                @include mobile {
                    margin-top:2%;
                }
            }
        }
        @include mobile {
            li {
                flex:unset;
                width:49%;
                margin:0;
                margin-top:2%;
                &:nth-child(even) {
                    margin-left:2%;
                }
            }
        }
    }
    .img-only {
        margin-top:50px;
        @include mobile {
            margin-top:20px;
        }
    }

    // 인사말
    .ci-img {
        text-align:center;
    }
    .hello {
        margin-top:50px;
        @include clearfix;
        @include mobile {
            margin-top:20px;
        }
        .text {
            float:left;
            @include calcs(width, 580px, 1280px);
            @include mobile {
                float:none;
                width:100%;
            }
            p {
                margin-top:20px;
                @include font;
                word-break:keep-all;
                &:first-child {
                    margin-top:0;
                }
                &.sign {
                    margin-top:50px;
                    @include mobile {
                        margin-top:30px;
                    }
                    span {
                        display:inline-block;
                        vertical-align:middle;
                        margin-right:4px;
                        color:$point;
                        font-weight:700;
                    }
                    em {
                        font-size:20px;
                        line-height:1;
                        font-weight:700;
                        color:$basic;
                    }
                }
            }
        }
        .bg {
            float:right;
            @include calcs(width, 580px, 1280px);
            @include mobile {
                float:none;
                display:block;
                width:100%;
                margin-bottom:20px;
            }
        }
    }

    // 경영이념
    .intro {
        text-align:center;
        .tit {
            @include font-giant;
            font-weight:100;
            color:#d49e29;
        }
        .desc {
            margin-top:10px;
            padding:0 12px;
            color:$cont;
            @include font-xl;
            word-break:keep-all;
        }
    }
    .bg-wrap {
        margin-top:50px;
        margin-bottom:100px;
        @include mobile {
            margin-top:20px;
            margin-bottom:50px;
        }
        .img-cont {
            @include contArea;
            text-align:center;
            @include mobile {
                img {
                    max-width:320px;
                }
            }
        }
    }
    .abi-mission {
        position:relative;
        display:flex;
        @include contArea;
        margin-top:100px;
        padding-top:30px;
        @include mobile {
            margin-top:50px;
            padding-top:20px;
            display:block;
        }
        &::before {
            content:' ';
            position:absolute;
            top:0;
            left:50%;
            width:140px;
            height:1px;
            margin-left:-70px;
            background:$border;
        }
        .img {
            @include calcs(width, 550px, 1280px);
            margin-right:auto;
            text-align:right;
            @include mobile {
                text-align:center;
            }
        }
        .text {
            width:50%;
            color:#666;
            @include font-xl;
            word-break:keep-all;
            @include mobile {
                width:100%;
                margin-top:20px;
            }
        }
    }
    .sub0603 {
        margin-top:50px;
        @include mobile {
            margin-top:20px;
        }
        .bgs {
            padding:20px 0;
            background:$disabled;
            p {
                margin-top:10px;
                color:#d49e29;
                font-size:24px;
                text-align:center;
                @include mobile {
                    font-size:18px;
                }
                &:first-child {
                    margin-top:0;
                }
            }
        }
        .flex {
            display:flex;
            @include contArea;
            margin-top:50px;
            @include mobile {
                display:block;
                margin-top:20px;
            }
            .text {
                @include calcs(width, 620px, 1280px);
                @include mobile {
                    width:100%;
                }
                h5 {
                    color:#666;
                    font-size:24px;
                    line-height:1.3;
                    font-weight:700;
                    @include mobile {
                        font-size:18px;
                    }
                }
                .desc {
                    margin-top:30px;
                    color:#666;
                    @include font;
                    word-break:keep-all;
                    @include mobile {
                        margin-top:15px;
                    }
                }
            }
            .img {
                display:block;
                @include calcs(width, 370px, 1280px);
                margin-left:auto;
                @include mobile {
                    width:100%;
                    margin-top:10px;
                }
            }
        }
    }

    // 연혁
    .history-cont {
        .lists {
            position:relative;
            padding-top:70px;
            @include mobile {
                padding-top:30px;
            }
            &::before {
                content:' ';
                position:absolute;
                top:0;
                bottom:0;
                @include calcs(left, 475px, 1280px);
                width:1px;
                background:$border;
            }
            > li {
                position:relative;
                @include clearfix;
                margin-top:70px;
                z-index:10;
                @include mobile {
                    margin-top:30px;
                }
                &:first-child {
                    margin-top:0;
                }
                &:last-child {
                    .months > li:last-child::before {
                        content:' ';
                        position:absolute;
                        @include calcs(left, 105px, 910px);
                        top:7px;
                        bottom:0;
                        width:3px;
                        margin-left:-1px;
                        background:$white;
                        z-index:-1;
                        @include mobile {
                            @include calcs(left, 475px, 1280px);
                        }
                    }
                }
                .year {
                    float:left;
                    @include calcs(width, 370px, 1280px);
                    text-align:right;
                    color:$red;
                    font-size:48px;
                    line-height:1;
                    font-weight:900;
                    font-style:italic;
                    transform:translateY(-2px);
                    @include tablet {
                        font-size:40px;
                    }
                    @include mobile {
                        float:none;
                        width:100%;
                        font-size:34px;
                        text-align:left
                    }
                }
                .months {
                    @include calcs(margin-left, 370px, 1280px);
                    @include mobile {
                        margin-left:0;
                    }
                    > li {
                        position:relative;
                        margin-top:30px;
                        @include clearfix;
                        &:first-child {
                            margin-top:0;
                        }
                        .month {
                            position:relative;
                            float:left;
                            @include calcs(width, 105px, 910px);
                            @include calcs(padding-right, 30px, 910px);
                            text-align:right;
                            font-size:24px;
                            font-weight:900;
                            @include mobile {
                                @include calcs(width, 475px, 1280px);
                                font-size:20px;
                            }
                            &::after {
                                content:' ';
                                position:absolute;
                                top:50%;
                                right:-5px;
                                width:9px;
                                height:9px;
                                margin-top:-5px;
                                border-radius:50%;
                                background:$basic;
                            }
                        }
                        .texts {
                            @include calcs(margin-left, 105px, 910px);
                            @include mobile {
                                @include calcs(margin-left, 475px, 1280px);
                            }
                            li {
                                margin-top:2px;
                                padding-left:20px;
                                color:$cont;
                                @include font;
                                word-break:keep-all;
                                &:first-child {
                                    margin-top:0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // CI/BI
    .cibi-cont {
        .box {
            padding:50px 20px;
            border:1px solid $border;
            text-align:center;
            &.flex {
                display:flex;
                justify-content:space-between;
                align-items:center;
                span {
                    display:block;
                    width:50%;
                    text-align:center;
                    @include mobile {
                        &:nth-child(even) {
                            text-align:right;
                            img {
                                max-width:65%;
                            }
                        }
                    }
                }
            }
        }
        > h4 {
            margin-top:70px;
            margin-bottom:20px;
            @include font-title;
            font-weight:700;
            @include mobile {
                margin-top:40px;
                margin-bottom:10px;
            }
        }
        .colorchip {
            display:flex;
            justify-content:space-between;
            @include mobile {
                display:block;
            }
            .col {
                display:flex;
                justify-content:space-between;
                width:45%;
                @include tablet {
                    width:48%;
                }
                @include mobile {
                    width:100%;
                    margin-top:10px;
                    &:first-child {
                        margin-top:0;
                    }
                }
                span {
                    display:flex;
                    align-items:center;
                    justify-content:center;
                    width:48%;
                    max-width:250px;
                    padding:36px 12px;
                    color:$white;
                    @include font;
                    @include mobile {
                        width:calc((100% - 10px) / 2);
                    }
                    &.color1 {
                        background:$point;
                    }
                    &.color2 {
                        background:#fec84e;
                    }
                    &.color3 {
                        background:#231f20;
                    }
                    &.color4 {
                        background:#939598;
                    }
                }
            }
        }
        .btn-group {
            .btn {
                @include mobile {
                    padding:0 12px;
                }
                &::after {
                    content:' ';
                    display:inline-block;
                    vertical-align:middle;
                    width:20px;
                    height:20px;
                    margin-left:50px;
                    background:url('/images/icon/icon-download.gif') center no-repeat;
                    background-size:100%;
                    @include mobile {
                        margin-left:10px;
                    }
                }  
            }
        }
    }

    // 대외사업
    .sub0606 {
        h4.h4-title {
            margin-bottom:70px;
            font-size:28px;
            line-height:38px;
            letter-spacing:-0.5px;
            text-align:center;
            font-weight:100;
            word-break:keep-all;
            @include mobile {
                margin-bottom:40px;
                font-size:18px;
                line-height:28px;
                font-weight:400;
            }
        }
        h5.h5-title {
            color:#616c45;
            font-size:24px;
            font-weight:700;
            @include mobile {
                font-size:18px;
            }
            &::before {
                content:' ';
                display:inline-block;
                vertical-align:top;
                width:21px;
                height:24px;
                margin-right:16px;
                background:url('/images/icon/icon-title.gif') center no-repeat;
                @include mobile {
                    height:18px;
                    margin-right:6px;
                    background-size:auto 100%;
                }
            }
        }
        .work-list {
            display:flex;
            @include tablet {
                display:block;
            }
            li {
                display:flex;
                flex-direction:column;
                flex:1;
                margin-left:18px;
                text-align:center;
                @include tablet {
                    margin-left:0;
                    margin-top:50px;
                }
                @include mobile {
                    margin-top:30px;
                }
                &:first-child {
                    margin-top:0;
                    margin-left:0;
                }
                .h5-title {
                    margin-bottom:15px;
                    @include mobile {
                        margin-bottom:5px;
                    }
                }
                .cont {
                    margin-top:20px;
                    display:flex;
                    flex-direction:column;
                    height:100%;
                    padding:25px 20px 50px;
                    background:$disabled;
                    @include tablet {
                        margin-top:10px;
                        padding:20px 12px 30px;
                    }
                    p {
                        margin-bottom:30px;
                        color:$cont;
                        @include font;
                        word-break:keep-all;
                        @include tablet {
                            margin-bottom:20px;
                        }
                    }
                    img {
                        display:inline-block;
                        vertical-align:top;
                        margin-top:auto;
                        box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.2);
                    }
                }
            }
        }
        .with {
            @include clearfix;
            .h5-title {
                float:left;
                @include tablet {
                    float:none;
                }
            }
            .ci-list {
                @include calcs(margin-left, 310px, 1280px);
                @include tablet {
                    margin-top:20px;
                    margin-left:0;
                }
                li {
                    display:flex;
                    align-items:center;
                    justify-content:space-between;
                    margin-top:20px;
                    @include mobile {
                        margin-top:10px;
                        img {
                            height:33px;
                        }
                    }
                    &:first-child {
                        margin-top:0;
                    }
                }
            }
        }
    }

    // 사업내용
    .sub0608 {
        h5.h5-title {
            color:#616c45;
            font-size:24px;
            font-weight:700;
            @include mobile {
                font-size:18px;
            }
            &::before {
                content:' ';
                display:inline-block;
                vertical-align:top;
                width:21px;
                height:24px;
                margin-right:16px;
                background:url('/images/icon/icon-title.gif') center no-repeat;
                @include mobile {
                    height:18px;
                    margin-right:6px;
                    background-size:auto 100%;
                }
            }
        }
        .img {
            display:block;
            text-align:center;
            &.mb {
                margin-bottom:40px;
                @include tablet {
                    margin-bottom:30px;
                }
                @include mobile {
                    margin-bottom:15px;
                }
            }
            &.mt {
                margin-top:60px;
                @include tablet {
                    margin-top:40px;
                }
                @include mobile {
                    margin-top:20px;
                }
            }
        }
        .txt {
            max-width:670px;
            margin:0 auto;
            @include font;
            text-align:center;
            color:#999;
            word-break:keep-all;
        }
        ul.cont-list {
            display:flex;
            margin:25px 0;
            @include tablet {
                flex-wrap:wrap;
                justify-content:center;
            }
            @include mobile {
                display:block;
                margin:15px 0;
            }
            li {
                position:relative;
                width:calc((100% - 80px) / 4);
                margin-left:20px;
                padding:27px 6px 50px;
                border:1px solid $border;
                @include tablet {
                    width:calc((100% - 40px) / 3);
                    &:nth-child(3) ~ li {
                        margin-top:20px;
                    }
                }
                @include mobile {
                    width:100%;
                    margin-top:10px;
                    margin-left:0;
                    padding:15px 6px 20px;
                    &:nth-child(3) ~ li {
                        margin-top:10px;
                    }
                }
                &:first-child {
                    margin-top:0;
                    margin-left:0;
                }
                &::before {
                    content:' ';
                    position:absolute;
                    top:0;
                    left:0;
                    width:100%;
                    height:56px;
                    background:$disabled;
                    z-index:-1;
                    @include mobile {
                        height:32px;
                    }
                }
                span {
                    display:block;
                    width:59px;
                    height:59px;
                    margin:0 auto 20px;
                    border-radius:50%;
                    background:#e8bb4d;
                    color:#fff;
                    font-size:24px;
                    line-height:59px;
                    font-weight:700;
                    text-align:center;
                    @include mobile {
                        width:35px;
                        height:35px;
                        margin-bottom:10px;
                        font-size:17px;
                        line-height:36px;
                    }
                }
                p {
                    color:#666;
                    @include font-lg;
                    text-align:center;
                    word-break:keep-all;
                }
            }
        }
        .sect-area {
            margin-top:50px;
            @include mobile {
                margin-top:30px;
            }
            &:first-child {
                margin-top:0;
            }
            h5.h5-title {
                text-align:center;
            }
            p.desc {
                max-width:900px;
                margin:20px auto 30px;
                color:$cont;
                @include font-md;
                text-align:center;
                word-break:keep-all;
                @include mobile {
                    margin:10px auto 20px;
                }
            }
        }
        .img-bg-cont {
            padding:20px;
            background:url('/images/bg/bg-sub0608-1.jpg') center no-repeat;
            background-size:cover;
            .txt-box {
                display:flex;
                padding:20px;
                background:#fff;
                @include mobile {
                    display:block;
                }
                .box {
                    flex:1;
                    border-left:1px solid #ccc;
                    @include calcs(padding-left, 45px, 1280px);
                    @include calcs(padding-right, 45px, 1280px);
                    @include mobile {
                        margin-bottom:20px;
                        padding-bottom:20px;
                        border-bottom:1px solid #ccc;
                        border-left:none;
                        &:last-child {
                            margin-bottom:0;
                            padding-bottom:0;
                            border-bottom:none;
                        }
                    }
                    &:first-child {
                        border-left:none;
                    }
                    .tit {
                        color:#666;
                        font-size:20px;
                        font-weight:700;
                        word-break:keep-all;
                        @include mobile {
                            font-size:18px;
                        }
                    }
                    ul {
                        margin-top:20px;
                        @include mobile {
                            margin-top:10px;
                        }
                        li {
                            color:#666;
                            @include font-md;
                            word-break:keep-all;
                        }
                    }
                }
            }
            .bottom-txt {
                margin-top:20px;
                color:#666;
                @include font-md;
                text-align:center;
                word-break:keep-all;
                font-weight:700;
            }
        }
        .program-cont {
            display:flex;
            @include mobile {
                display:block;
            }
            .dl-box {
                width:60%;
                max-width:635px;
                border-top:1px solid $border;
                @include mobile {
                    width:100%;
                    max-width:none;
                }
                dl {
                    display:table;
                    width:100%;
                    border-bottom:1px solid $border;
                    @include font;
                    word-break:keep-all;
                    dt {
                        display:table-cell;
                        width:120px;
                        min-width:120px;
                        padding:6px 10px;
                        background:$disabled;
                        text-align:center;
                        vertical-align:middle;
                    }
                    dd {
                        display:table-cell;
                        padding:6px 10px;
                        color:#666;
                    }
                }
            }
            .img-box {
                flex:1;
                display:flex;
                align-self:flex-end;
                justify-content:flex-end;
                padding:0 20px;
                @include tablet {
                    padding-right:0;
                }
                @include mobile {
                    padding:0;
                }
            }
        }
        .img-box {
            margin-top:50px;
            @include mobile {
                margin-top:20px;
            }
        }
    }

    // 찾아오시는 길
    .waytocome-cont {
        .sect {
            margin-top:70px;
            &:first-child {
                margin-top:0;
            }
            dl {
                dt {
                    font-size:24px;
                    line-height:1;
                    font-weight:700;
                    @include mobile {
                        font-size:20px;
                    }
                }
                dd {
                    margin-top:10px;
                    @include font;
                    @include mobile {
                        margin-top:5px;
                    }
                }
            }
            .info {
                margin-top:20px;
                padding-top:30px;
                border-top:1px solid $border;
                font-size:0;
                @include mobile {
                    margin-top:15px;
                    padding-top:15px;
                }
                li {
                    display:inline-block;
                    vertical-align:top;
                    margin-right:50px;
                    font-size:20px;
                    line-height:36px;
                    font-weight:700;
                    &:last-child {
                        margin-right:0;
                    }
                    @include mobile {
                        margin-right:20px;
                        font-size:16px;
                        line-height:30px;
                        @include skew;
                    }
                    &::before {
                        content:' ';
                        display:inline-block;
                        width:36px;
                        height:36px;
                        margin-right:10px;
                        border-radius:50%;
                        vertical-align:top;
                        color:$white;
                        font-size:20px;
                        font-weight:900;
                        text-align:center;
                        @include mobile {
                            width:30px;
                            height:30px;
                            font-size:16px;
                        }
                    }
                    &:nth-child(1)::before {
                        content:'T';
                        background:$red;
                    }
                    &:nth-child(2)::before {
                        content:'F';
                        background:$point2;
                    }
                }
            }
            .map-wrap {
                margin-top:40px;
                .root_daum_roughmap {
                    width:100%;
                    .wrap_map {
                        height:500px !important;
                        @include tablet {
                            height:400px !important;
                        }
                        @include mobile {
                            height:300px !important;
                        }
                    }
                    .map_border {
                        display:none !important;
                    }
                    .wrap_controllers {
                        display:none !important;
                    }
                }
            }
        }
    }
}