/* 회사소개 */
.container.cate01 {
    // 회사개요
    .intro {
        text-align:center;
        .tit {
            @include font-giant;
            font-weight:100;
            color:#d49e29;
        }
        .desc {
            margin-top:5px;
            color:$cont;
            @include font-xl;
        }
    }
    .bg-wrap {
        margin-top:50px;
        @include mobile {
            margin-top:20px;
        }
        .img-cont {
            @include contArea;
            text-align:center;
            @include mobile {
                img {
                    max-width:320px;
                }
            }
        }
    }
    .introduce {
        @include contArea;
        margin-top:100px;
        @include mobile {
            margin-top:50px;
        }
        .box {
            display:flex;
            align-items:flex-start;
            justify-content:space-between;
            margin-top:60px;
            @include mobile {
                display:block;
                margin-top:30px;
            }
            &:first-child {
                margin-top:0;
            }
            .thumb {
                order:1;
                display:block;
                width:50%;
                @include mobile {
                    width:100%;
                    margin-top:10px;
                }
            }
            .text {
                width:calc(50% - 30px);
                @include mobile {
                    width:100%;
                }
                h4 {
                    position:relative;
                    padding-bottom:30px;
                    color:$point2;
                    @include font-giant;
                    font-weight:900;
                    letter-spacing:-2px;
                    &::before {
                        content:'ABISSINICA';
                        display:block;
                        color:rgba($cont, .4);
                        font-size:30px;
                        line-height:1;
                        font-weight:100;
                        letter-spacing:-1px;
                    }
                    &::after {
                        content:' ';
                        position:absolute;
                        left:0;
                        bottom:0;
                        right:-120px;
                        height:1px;
                        background:$border;
                    }
                    @include mobile {
                        padding-bottom:10px;
                        border-bottom:1px solid $border;
                        &::before {
                            font-size:20px;
                            letter-spacing:0;
                        }
                        &::after {
                            display:none;
                        }
                    }
                }
                p {
                    margin-top:30px;
                    color:$cont;
                    @include font;
                    word-break:keep-all;
                    @include mobile {
                        margin-top:10px;
                    }
                }
            }
            &.type2 {
                .thumb {
                    order:-1;
                }
                .text {
                    h4::after {
                        right:0;
                        left:-120px;
                    }
                }
            }
        }
    }
    .business-list {
        display:flex;
        justify-content:space-between;
        @include tablet {
            flex-wrap:wrap;
            justify-content:center;
        }
        @include mobile {
            display:block;
        }
        li {
            @include calcs(width, 240px, 1280px);
            @include tablet {
                width:32%;
                margin-left:2%;
                &:first-child {
                    margin-left:0;
                }
                &:nth-child(3) ~ li {
                    margin-top:2%;
                }
            }
            @include mobile {
                width:100%;
                margin-top:2%;
                margin-left:0;
            }
            .inner {
                position:relative;
                border:1px solid $border;
                height:100%;
                padding-top:56px;
                background:$blur;
                overflow:hidden;
                @include mobile {
                    padding-top:40px;
                }
                span.num {
                    position:absolute;
                    top:56px;
                    left:50%;
                    transform:translate(-50%, -50%);
                    width:60px;
                    height:60px;
                    border-radius:50%;
                    background:$yellow;
                    color:$white;
                    text-align:center;
                    font-size:24px;
                    font-weight:900;
                    line-height:64px;
                    z-index:10;
                    @include mobile {
                        top:40px;
                        width:40px;
                        height:40px;
                        font-size:18px;
                        line-height:42px;
                    }
                }
                p {
                    height:100%;
                    padding:50px 12px;
                    background:$white;
                    text-align:center;
                    color:$cont;
                    @include font-lg;
                    @include mobile {
                        padding:30px 12px 20px;
                    }
                }
            }
        }
    }
    .business-more {
        margin-top:20px;
        text-align:center;
        color:$gray;
        @include font;
        word-break:keep-all;
    }
    .pic-info-list {
        .complex-row {
            display:flex;
            justify-content:space-between;
            @include calcs(margin-top, 40px, 1280px);
            &:first-child {
                margin-top:0;
            }
            @include tablet {
                flex-wrap:wrap;    
            }
            .col1 {
                @include calcs(width, 468px, 1280px);
                @include tablet {
                    width:100%;
                }
                dl {
                    display:flex;
                    border-bottom:1px solid $border;
                    &:first-child {
                        border-top:1px solid $border;
                    }
                    dt {
                        width:120px;
                        padding:6px 15px;
                        background:$blur;
                        @include font;
                        text-align:center;
                    }
                    dd {
                        width:calc(100% - 120px);
                        padding:6px 15px;
                        color:$cont;
                        @include font;
                        word-break:keep-all;
                    }
                }
            }
            .col2 {
                @include calcs(width, 382px, 1280px);
                box-shadow:3px 4px 5px 0px rgba(188, 188, 188, 0.75);
                background-size:cover;
                background-repeat:no-repeat;
                background-position:center;
                @include tablet {
                    width:49%;
                    @include calcs(margin-top, 40px, 1280px);
                    padding-top:30%;
                }
            }
            .col3 {
                @include calcs(width, 872px, 1280px);
                @include calcs(padding-top, 307px, 1280px);
                background-size:cover;
                background-repeat:no-repeat;
                background-position:center;
            }
            .col4 {
                @include calcs(width, 382px, 1280px);
                box-shadow:3px 4px 5px 0px rgba(188, 188, 188, 0.75);
                background-size:cover;
                background-repeat:no-repeat;
                background-position:center;
            }
        }
    }

    // 인사말
    .ci-img {
        text-align:center;
    }
    .hello {
        margin-top:50px;
        @include clearfix;
        @include mobile {
            margin-top:20px;
        }
        .text {
            float:left;
            @include calcs(width, 580px, 1280px);
            @include mobile {
                float:none;
                width:100%;
            }
            p {
                margin-top:20px;
                @include font;
                word-break:keep-all;
                &:first-child {
                    margin-top:0;
                }
                &.sign {
                    margin-top:50px;
                    @include mobile {
                        margin-top:30px;
                    }
                    span {
                        display:inline-block;
                        vertical-align:middle;
                        margin-right:4px;
                        color:$point;
                        font-weight:700;
                    }
                    .ft-pen {
                        font-size:36px;
                        line-height:1;
                        font-weight:400;
                        color:$basic;
                    }
                }
            }
        }
        .bg {
            float:right;
            @include calcs(width, 580px, 1280px);
            @include mobile {
                float:none;
                display:block;
                width:100%;
                margin-bottom:20px;
            }
        }
    }

    // 경영이념
    .mission-cont {
        .bg-box {
            background:$blur;
        }
        .area {
            position:relative;
            @include contArea;
            &.flex {
                display:flex;
                align-items:flex-start;
                min-height:350px;
                @include mobile {
                    min-height:initial;
                }
            }
            .text {
                align-self:center;
                padding:20px 0;
                h5 {
                    font-size:36px;
                    line-height:1.1;
                    letter-spacing:-1px;
                    word-break:keep-all;
                    @include mobile {
                        font-size:24px;
                    }
                    small {
                        display:block;
                        margin-top:10px;
                        color:#7e9938;
                        font-size:24px;
                        line-height:1;
                        font-weight:900;
                        @include mobile {
                            margin-top:5px;
                            font-size:20px;
                        }
                    }
                }
                .desc {
                    margin-top:20px;
                    color:$cont;
                    @include font;
                    word-break:keep-all;
                    @include mobile {
                        margin-top:10px;
                    }
                }
            }
            .img {
                display:block;
            }
            > .desc {
                color:$cont;
                @include font;
                word-break:keep-all;
            }
        }

        &.type1 {
            .area {
                @include tablet {
                    &.flex {
                        align-items:center;
                    }
                }
                .text {
                    @include calcs(width, 760px, 1280px);
                    margin-right:auto;
                }
                .img {
                    position:relative;
                    @include calcs(width, 516px, 1280px);
                    height:auto;
                    img {
                        position:absolute;
                        top:0;
                        right:0;
                        width:100%;
                        height:auto;
                        @include tablet {
                            position:relative;
                            top:auto;
                            right:auto;
                        }
                    }
                }
                >.desc {
                    margin-top:40px;
                    @include calcs(width, 760px, 1280px);
                    @include tablet {
                        width:100%;
                        margin-top:30px;
                    }
                    @include mobile {
                        margin-top:20px;
                    }
                }
            }
        }
        &.type2 {
            .area {
                .text {
                    @include calcs(width, 820px, 1280px);
                    text-align:right;
                    @include mobile {
                        width:100%;
                        h5 {
                            padding-left:20%;
                        }
                        .desc {
                            max-width:460px;
                            margin-left:auto;
                        }
                    }
                }
                .img {
                    position:relative;
                    order:-1;
                    @include calcs(width, 460px, 1280px);
                    margin-right:auto;
                    @include mobile {
                        position:absolute;
                        top:0;
                        left:-5%;
                        width:30%;
                    }
                    img {
                        position:absolute;
                        top:0;
                        right:0;
                        max-width:initial;
                        width:107%;
                        height:auto;
                        transform:translateY(-26%);
                        @include mobile {
                            position:relative;
                            top:auto;
                            right:auto;
                            width:100%;
                        }
                    }
                }
                > .desc {
                    @include calcs(margin-top, 60px, 1320px);
                    @include tablet {
                        margin-top:30px;
                    }
                    @include mobile {
                        margin-top:20px;
                    }
                }
            }
        }
    }

    // 연혁
    .history-cont {
        .lists {
            position:relative;
            padding-top:70px;
            @include mobile {
                padding-top:30px;
            }
            &::before {
                content:' ';
                position:absolute;
                top:0;
                bottom:0;
                @include calcs(left, 475px, 1280px);
                width:1px;
                background:$border;
            }
            > li {
                position:relative;
                @include clearfix;
                margin-top:70px;
                z-index:10;
                @include mobile {
                    margin-top:30px;
                }
                &:first-child {
                    margin-top:0;
                }
                &:last-child {
                    .months > li:last-child::before {
                        content:' ';
                        position:absolute;
                        @include calcs(left, 105px, 910px);
                        top:7px;
                        bottom:0;
                        width:3px;
                        margin-left:-1px;
                        background:$white;
                        z-index:-1;
                        @include mobile {
                            @include calcs(left, 475px, 1280px);
                        }
                    }
                }
                .year {
                    float:left;
                    @include calcs(width, 370px, 1280px);
                    text-align:right;
                    color:$red;
                    font-size:48px;
                    line-height:1;
                    font-weight:900;
                    font-style:italic;
                    transform:translateY(-2px);
                    @include tablet {
                        font-size:40px;
                    }
                    @include mobile {
                        float:none;
                        width:100%;
                        font-size:34px;
                        text-align:left
                    }
                }
                .months {
                    @include calcs(margin-left, 370px, 1280px);
                    @include mobile {
                        margin-left:0;
                    }
                    > li {
                        position:relative;
                        margin-top:30px;
                        @include clearfix;
                        &:first-child {
                            margin-top:0;
                        }
                        .month {
                            position:relative;
                            float:left;
                            @include calcs(width, 105px, 910px);
                            @include calcs(padding-right, 30px, 910px);
                            text-align:right;
                            font-size:24px;
                            font-weight:900;
                            @include mobile {
                                @include calcs(width, 475px, 1280px);
                                font-size:20px;
                            }
                            &::after {
                                content:' ';
                                position:absolute;
                                top:50%;
                                right:-5px;
                                width:9px;
                                height:9px;
                                margin-top:-5px;
                                border-radius:50%;
                                background:$basic;
                            }
                        }
                        .texts {
                            @include calcs(margin-left, 105px, 910px);
                            @include mobile {
                                @include calcs(margin-left, 475px, 1280px);
                            }
                            li {
                                margin-top:2px;
                                padding-left:20px;
                                color:$cont;
                                @include font;
                                word-break:keep-all;
                                &:first-child {
                                    margin-top:0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // CI/BI
    .cibi-cont {
        .box {
            padding:50px 20px;
            border:1px solid $border;
            text-align:center;
            &.flex {
                display:flex;
                justify-content:space-between;
                align-items:center;
                span {
                    display:block;
                    width:50%;
                    text-align:center;
                    @include mobile {
                        &:nth-child(even) {
                            text-align:right;
                            img {
                                max-width:65%;
                            }
                        }
                    }
                }
            }
        }
        > h4 {
            margin-top:70px;
            margin-bottom:20px;
            @include font-title;
            font-weight:700;
            @include mobile {
                margin-top:40px;
                margin-bottom:10px;
            }
        }
        .colorchip {
            display:flex;
            justify-content:space-between;
            @include mobile {
                display:block;
            }
            .col {
                display:flex;
                justify-content:space-between;
                width:45%;
                @include tablet {
                    width:48%;
                }
                @include mobile {
                    width:100%;
                    margin-top:10px;
                    &:first-child {
                        margin-top:0;
                    }
                }
                span {
                    display:flex;
                    align-items:center;
                    justify-content:center;
                    width:48%;
                    max-width:250px;
                    padding:36px 12px;
                    color:$white;
                    @include font;
                    @include mobile {
                        width:calc((100% - 10px) / 2);
                    }
                    &.color1 {
                        background:$point;
                    }
                    &.color2 {
                        background:#fec84e;
                    }
                    &.color3 {
                        background:#231f20;
                    }
                    &.color4 {
                        background:#939598;
                    }
                }
            }
        }
        .btn-group {
            .btn {
                @include mobile {
                    padding:0 12px;
                }
                &::after {
                    content:' ';
                    display:inline-block;
                    vertical-align:middle;
                    width:20px;
                    height:20px;
                    margin-left:50px;
                    background:url('/images/icon/icon-download.gif') center no-repeat;
                    background-size:100%;
                    @include mobile {
                        margin-left:10px;
                    }
                }  
            }
        }
    }

    // 대외사업
    .img-layout {
        position:relative;
        @include contArea;
        .img1 {
            display:block;
            position:relative;
            z-index:5;
            @include calcs(width, 732px, 1280px);
            box-shadow:3px 4px 32px 0px rgba(144, 144, 144, 0.75);
            @include mobile {
                width:90%;
            }
        }
        .img2 {
            display:block;
            position:relative;
            z-index:3;
            @include calcs(width, 638px, 1280px);
            @include calcs(margin-top, -230px, 1280px);
            margin-left:auto;
            box-shadow:3px 4px 32px 0px rgba(144, 144, 144, 0.75);
            @include mobile {
                width:75%;
                margin-top:-5%;
            }
        }
    }

    // 찾아오시는 길
    .waytocome-cont {
        .sect {
            margin-top:70px;
            &:first-child {
                margin-top:0;
            }
            dl {
                dt {
                    font-size:24px;
                    line-height:1;
                    font-weight:700;
                    @include mobile {
                        font-size:20px;
                    }
                }
                dd {
                    margin-top:10px;
                    @include font;
                    @include mobile {
                        margin-top:5px;
                    }
                }
            }
            .info {
                margin-top:20px;
                padding-top:30px;
                border-top:1px solid $border;
                font-size:0;
                @include mobile {
                    margin-top:15px;
                    padding-top:15px;
                }
                li {
                    display:inline-block;
                    vertical-align:top;
                    margin-right:50px;
                    font-size:20px;
                    line-height:36px;
                    font-weight:700;
                    &:last-child {
                        margin-right:0;
                    }
                    @include mobile {
                        margin-right:20px;
                        font-size:16px;
                        line-height:30px;
                        @include skew;
                    }
                    &::before {
                        content:' ';
                        display:inline-block;
                        width:36px;
                        height:36px;
                        margin-right:10px;
                        border-radius:50%;
                        vertical-align:top;
                        color:$white;
                        font-size:20px;
                        font-weight:900;
                        text-align:center;
                        @include mobile {
                            width:30px;
                            height:30px;
                            font-size:16px;
                        }
                    }
                    &:nth-child(1)::before {
                        content:'T';
                        background:$red;
                    }
                    &:nth-child(2)::before {
                        content:'F';
                        background:$point2;
                    }
                }
            }
            .map-wrap {
                margin-top:40px;
                .root_daum_roughmap {
                    width:100%;
                    .wrap_map {
                        height:500px !important;
                        @include tablet {
                            height:400px !important;
                        }
                        @include mobile {
                            height:300px !important;
                        }
                    }
                    .map_border {
                        display:none !important;
                    }
                    .wrap_controllers {
                        display:none !important;
                    }
                }
            }
        }
    }
}