/* footer */
footer {
    border-top:2px solid $blur;
    &.main-type {
        border-top:none;
    }
    .foot-top {
        padding:25px 0;
        text-align:center;
        background-color:$point;
        @include mobile {
            padding:0;
            border-bottom:none;
            background-image:none;
        }
        .btn {
            @include mobile {
                display:block;
                width:100%;
                border:none;
                padding:0;
                font-size:15px;
                line-height:40px;
            }
            &::after {
                content:' ';
                display:inline-block;
                vertical-align:top;
                width:20px;
                height:20px;
                margin-top:13px;
                margin-left:20px;
                border-radius:50%;
                background:$white url('/images/icon/icon-arrow.png') center no-repeat;
                @include mobile {
                    width:16px;
                    height:16px;
                    margin-top:12px;
                    margin-left:10px;
                    background-size:10px auto;
                }
            }
            @include pc {
                &:hover,
                &:active {
                    color:$white;
                }
            }
        }
    }
    .foot-middle {
        .supports {
            display:flex;
            justify-content:space-between;
            max-width:590px;
            margin:0 auto;
            padding:30px 0;
            @include mobile {
                padding:20px 12px;
            }
            li {
                text-align:center;
                @include mobile {
                    flex:1;
                    margin-left:10px;
                    &:first-child {
                        margin-left:0;
                    }
                }
                .ci {
                    display:block;
                    margin-bottom:20px;
                }
                .btn {
                    width:100%;
                    max-width:175px;
                }
            }
        }
        .together {
            padding:20px 0 25px;
            border-top:2px solid $border;
            border-bottom:2px solid $border;
            @include mobile {
                padding:20px 0;
            }
            h3.tit {
                margin-bottom:25px;
                color:#aaa;
                text-align:center;
                font-size:18px;
                font-weight:700;
            }
            ul.lists {
                display:flex;
                justify-content:space-between;
                @include contArea;
                @include tablet {
                    justify-content:unset;
                    li {
                        margin-left:20px;
                        &:first-child {
                            margin-left:0;
                        }
                    }
                }
                @include mobile {
                    display:block;
                    overflow-x:auto;
                    font-size:0;
                    white-space:nowrap;
                    li {
                        display:inline-block;
                        vertical-align:top;
                        img {
                            height:33px;
                        }
                    }
                }
            }
        }
    }
    .foot-bottom {
        position:relative;
        @include contArea;
        padding-top:20px;
        padding-bottom:70px;
        @include clearfix;
        @include mobile {
            padding-top:20px;
            padding-bottom:30px;
        }
        .foot-logo {
            float:left;
            @include tablet {
                float:none;
                margin-bottom:20px;
            }
            @include mobile {
                margin-bottom:15px;
                img {
                    height:30px;
                }
            }
        }
        .infos {
            display:flex;
            margin-left:220px;
            margin-right:130px;
            padding-top:20px;
            @include tablet {
                flex-wrap:wrap;
                margin-right:0;
                margin-left:0;
                padding-top:0;
            }
            @include mobile {
                display:block;
            }
            .col {
                margin-left:20px;
                padding-left:20px;
                border-left:1px solid $border;
                &:first-child {
                    margin-left:0;
                    padding-left:0;
                    border-left:none;
                }
                @include tablet {
                    width:calc((100% - 40px) / 2);
                    &:nth-child(3) {
                        width:100%;
                        margin-top:20px;
                        margin-left:0;
                        padding-left:0;
                        border-left:none;
                    }
                }
                @include mobile {
                    width:100%;
                    margin-top:20px;
                    margin-left:0;
                    padding-left:0;
                    border-left:none;
                }
                p.call {
                    margin-bottom:10px;
                    padding-left:25px;
                    background:url('/images/icon/icon-call.gif') 0 no-repeat;
                    color:#888;
                    font-size:18px;
                    font-weight:500;
                }
                dl {
                    dt {
                        margin-bottom:10px;
                        color:$cont;
                        font-size:14px;
                        font-weight:900;
                        @include skew;
                    }
                    dd {
                        ul {
                            li {
                                font-size:0;
                                white-space:nowrap;
                                span {
                                    display:inline-block;
                                    vertical-align:top;
                                    color:$gray;
                                    font-size:13px;
                                    line-height:18px;
                                    @include skew;
                                    &::after {
                                        content:' ';
                                        display:inline-block;
                                        vertical-align:top;
                                        width:1px;
                                        height:10px;
                                        margin:4px 6px 0;
                                        background:$gray;
                                    }
                                    &:last-child::after {
                                        display:none;
                                    }
                                    em {
                                        display:inline-block;
                                        vertical-align:top;
                                        width:60px;
                                    }
                                    @include mobile {
                                        display:block;
                                        font-size:12px;
                                        &::after {
                                            display:none;
                                        }
                                    }
                                }
                            }
                        }
                        &.bar {
                            &::before {
                                content:' ';
                                display:block;
                                width:12px;
                                height:1px;
                                margin:10px 0;
                                background:#888;
                            }
                        }
                    }
                }
            }
        }
        .dropdown {
            position:absolute;
            top:40px;
            right:20px;
            @include mobile {
                top:20px;
                right:12px;
            }
            .btn-toggle {
                position:relative;
                display:block;
                height:30px;
                padding:0 30px 0 15px;
                border:1px solid #666;
                border-radius:15px;
                color:#666;
                font-size:12px;
                line-height:29px;
                @include skew;
                &::after {
                    content:' ';
                    position:absolute;
                    top:50%;
                    right:16px;
                    width:6px;
                    height:6px;
                    margin-top:-5px;
                    border:1px solid #666;
                    border-right:none;
                    border-bottom:none;
                    transform:rotate(-135deg);
                }
            }
            ul.lists {
                display:none;
            }
        }
        .copyright {
            margin-top:40px;
            color:$gray;
            font-size:13px;
            line-height:18px;
            text-align:center;
            @include skew;
            @include mobile {
                margin-top:20px;
                text-align:left;
                font-size:12px;
            }
        }
    }
}